---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: lobby-view
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      app:
        replicas: 1
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: ghcr.io/goffxi/goffxi/lobby-view
              tag: v0.1.5
            env:
              SERVER_PORT: &tcpPort "54001"
            envFrom:
              - configMapRef:
                  name: "{{ .Release.Name }}-config"
            resources:
              requests:
                cpu: 5m
                memory: 128Mi
              limits:
                memory: 256Mi

    defaultPodOptions:
      hostUsers: false

    service:
      app:
        type: LoadBalancer
        sessionAffinity: ClientIP
        annotations:
          lbipam.cilium.io/ips: "10.50.100.9"
        ports:
          tcp:
            port: *tcpPort
