---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: frigate
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    defaultPodOptions:
      automountServiceAccountToken: false

    controllers:
      app:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          nodeSelector:
            devices.homelab/coral-m2: "true"
            intel.feature.node.kubernetes.io/gpu: "true"
        containers:
          app:
            image:
              repository: ghcr.io/blakeblackshear/frigate
              tag: 0.16.3@sha256:cf4305d9f1c673d71c4d0fab30ca56ca05ac91168711a74ee7867a4691a7ad02
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            resources:
              requests:
                gpu.intel.com/i915: 1
              limits:
                gpu.intel.com/i915: 1
            securityContext:
              privileged: true
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/version
                    port: &httpPort 5000
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes

    persistence:
      coral-m2:
        type: hostPath
        hostPath: /dev/apex_0
        hostPathType: CharDevice
      cache:
        type: emptyDir
        medium: Memory
        sizeLimit: 2Gi
        globalMounts:
        - path: /dev/shm
      config:
        existingClaim: "{{ .Release.Name }}"
      config-model-cache:
        existingClaim: "{{ .Release.Name }}-model-cache"
        globalMounts:
          - path: /config/model_cache
      media-clips:
        existingClaim: "{{ .Release.Name }}-media-clips"
        globalMounts:
          - path: /media/frigate/clips
      media-recordings:
        existingClaim: "{{ .Release.Name }}-media-recordings"
        globalMounts:
          - path: /media/frigate/recordings
      media-exports:
        type: custom
        volumeSpec:
          nfs:
            server: nas.batcave
            path: /mnt/zpool/frigate-exports
        globalMounts:
          - path: /media/frigate/exports

    service:
      app:
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: "10.50.100.1"
        ports:
          authenticated-http:
            port: 8971
          unauthenticated-http:
            port: *httpPort
          rtsp:
            port: 8554
          webrtc:
            port: 8555

    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${DOMAIN_5}"
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: domain-5-subdomain-https
        rules:
          - backendRefs:
              - name: "{{ .Release.Name }}"
                port: *httpPort
