---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: wyoming-whisper
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      wyoming-whisper:
        containers:
          app:
            image:
              repository: rhasspy/wyoming-whisper
              tag: 3.0.2
            args:
              - --model=small
              - --language=en
            env:
              TZ: America/New_York
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL

    defaultPodOptions:
      hostUsers: false

    service:
      app:
        ports:
          whisper:
            port: 10300

    persistence:
      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp
      data:
        existingClaim: "{{ .Release.Name }}-cache"
