---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mosquitto
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      mosquitto:
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: public.ecr.aws/docker/library/eclipse-mosquitto
              tag: 2.0.22@sha256:6852da90a65dfff7aa3a1c8b249e92bb83c17ea8bbcce56bedff8707332a1a29
            env:
              TZ: America/New_York
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10
            resources:
              requests:
                cpu: 10m
                memory: 256Mi
              limits:
                memory: 512Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL

          exporter:
            image:
              repository: ghcr.io/kpetremann/mqtt-exporter
              tag: 1.11.1@sha256:7db8598791d77a1924c0b1ad9152d79c80a376af7c73884331181f4d159cf69c
            env:
              MQTT_ADDRESS: "127.0.0.1"
            ports:
              - name: metrics
                containerPort: &metricsPort 9000
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /metrics
                    port: *metricsPort
              readiness: *probes

    defaultPodOptions:
      hostUsers: false
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 10.50.10.50
        ports:
          mqtt:
            port: 1883
          metrics:
            port: *metricsPort

    serviceMonitor:
      app:
        endpoints:
          - port: metrics

    persistence:
      data:
        existingClaim: "{{ .Release.Name }}"
      config-file:
        type: configMap
        name: mosquitto-configmap
        globalMounts:
          - path: /mosquitto/config/mosquitto.conf
            subPath: mosquitto.conf
