---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: teslamate
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: teslamate-secret
    template:
      data:
        DATABASE_NAME: &dbName teslamate
        DATABASE_HOST: &dbHost postgres-rw.databases.svc.cluster.local
        DATABASE_USER: &dbUser "{{ .TESLAMATE_DATABASE_USER }}"
        DATABASE_PASS: &dbPass "{{ .TESLAMATE_DATABASE_PASSWORD }}"
        ENCRYPTION_KEY: "{{ .ENCRYPTION_KEY }}"
        # Postgres Init
        INIT_POSTGRES_DBNAME: *dbName
        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_USER: *dbUser
        INIT_POSTGRES_PASS: *dbPass
        INIT_POSTGRES_USER_FLAGS: "-s"
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
  dataFrom:
    - extract:
        key: cloudnative-pg
    - extract:
        key: teslamate
