---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: teslamate
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:

      app:
        replicas: 1
        annotations:
          secret.reloader.stakater.com/reload: "{{ .Release.Name }}-secret"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18
              pullPolicy: IfNotPresent
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
        containers:
          app:
            image:
              repository: teslamate/teslamate
              tag: 2.2.0@sha256:db111162f1037a8c8ce6fe56e538a4432b8a34d3d6176916ba22d42ef7ee4b78
            env:
              TZ: "America/New_York"
              DISABLE_MQTT: "false"
              MQTT_USERNAME: "mqtt"
              MQTT_HOST: "mosquitto.home-automation.svc.cluster.local"
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            resources:
              requests:
                memory: 250Mi
                cpu: 50m
              limits:
                memory: 500Mi

    service:
      app:
        ports:
          http:
            port: &port 4000

    defaultPodOptions:
      hostUsers: false

    route:
      internal:
        hostnames:
          - "teslamate.${DOMAIN_5}"
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: domain-5-subdomain-https
        rules:
          - backendRefs:
              - identifier: app
                port: *port
