{% set opSecretPath = "op://homelab kubernetes/talos" %}
---
machine:
  install:
    diskSelector:
      serial: 50026B72836435C7
  network:
    hostname: w01.k8s.batcave
    interfaces:
      - interface: bond0
        bond:
          deviceSelectors:
            - hardwareAddr: "58:47:ca:7a:8c:*"
              driver: i40e
          mode: 802.3ad
          xmitHashPolicy: layer3+4
          lacpRate: fast
          miimon: 1000
        dhcp: true
        mtu: 1500
        vlans:
          - vlanId: 20
            dhcp: false
            mtu: 1500
            dhcpOptions:
              routeMetric: 4096
  nodeLabels:
    intel.feature.node.kubernetes.io/gpu: true
    google.feature.node.kubernetes.io/coral-usb: true
    google.feature.node.kubernetes.io/coral-m2: true
  sysfs:
    devices.system.cpu.intel_pstate.hwp_dynamic_boost: 1
  udev:
    rules:
      - # Coral M.2 TPU
        SUBSYSTEM=="apex", KERNEL=="apex*", GROUP="44", MODE="0660"
