{% set opSecretPath = "op://homelab kubernetes/talos" %}
---
machine:
  install:
    image: factory.talos.dev/metal-installer/{{ ENV.TALOS_SCHEMATIC_INTEL }}:{{ ENV.TALOS_VERSION }}
    diskSelector:
      serial: 50026B72836435C7
  network:
    hostname: w01.k8s.batcave
    interfaces:
      - interface: bond0
        bond:
          deviceSelectors:
            - hardwareAddr: "58:47:ca:7a:8c:ca"
              driver: i40e
            - hardwareAddr: "58:47:ca:7a:8c:cb"
              driver: i40e
          mode: 802.3ad
          xmitHashPolicy: layer3+4
          lacpRate: fast
          miimon: 1000
        dhcp: true
        mtu: 1500
        vlans:
          - vlanId: 20
            dhcp: false
            mtu: 1500
          - vlanId: 50
            dhcp: false
            mtu: 1500
  nodeLabels:
    devices.homelab/coral-usb: "true"
    devices.homelab/coral-m2: "true"
    intel.feature.node.kubernetes.io/gpu: "true"
---
apiVersion: v1alpha1
kind: UserVolumeConfig
name: local-hostpath
provisioning:
  diskSelector:
    match: disk.serial == "S7U8NJ0XC28279J" && !system_disk
  minSize: 4.0TB
