---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tandoor
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      tandoor:
        annotations:
          reloader.stakater.com/auto: "true"

        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"

        containers:
          app:
            image:
              repository: ghcr.io/tandoorrecipes/recipes
              tag: 2.4.0@sha256:0c220f403a398772f9b9eed018d263e7942e8a2d2593e4ee84bf36a41c4801ee
            env:
              COMMENT_PREF_DEFAULT: "1"
              DEBUG: "0"
              ALLOWED_HOSTS: "*"
              ENABLE_SIGNUP: "0"
              FRACTION_PREF_DEFAULT: "1"
              GUNICORN_MEDIA: "0"
              MAX_OWNED_SPACES_PREF_DEFAULT: "100"
              SHOPPING_MIN_AUTOSYNC_INTERVAL: "5"
              TANDOOR_TIMEZONE: "America/New_York"
              TANDOOR_PORT: &tandoorPort 8888
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            resources:
              requests:
                cpu: 10m
                memory: 256Mi
              limits:
                memory: 2Gi

          nginx:
            image:
              repository: ghcr.io/nginxinc/nginx-unprivileged
              tag: 1.27.4

    service:
      app:
        ports:
          http:
            port: *tandoorPort
          nginx:
            port: &nginxPort 8080

    route:
      app:
        hostnames:
          - "recipes.${DOMAIN_4}"
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: domain-4-subdomain-https
          - name: external
            namespace: kube-system
            sectionName: domain-4-subdomain-https
        rules:
          - backendRefs:
              - name: tandoor
                port: *nginxPort

    persistence:
      data:
        existingClaim: "{{ .Release.Name }}"
        advancedMounts:
          tandoor:
            app:
              - path: /opt/recipes/mediafiles
            nginx:
              - path: /media
        globalMounts:
          - path: /home/node/.n8n
      static-files:
        type: emptyDir
        advancedMounts:
          tandoor:
            app:
              - path: /opt/recipes/staticfiles
                subPath: staticfiles
            nginx:
              - path: /static
                subPath: staticfiles
      nginx-config:
        type: configMap
        name: "{{ .Release.Name }}-configmap"
        advancedMounts:
          tandoor:
            nginx:
              - path: /etc/nginx/nginx.conf
                subPath: nginx.conf
                readOnly: true
      cache:
        type: emptyDir
        advancedMounts:
          tandoor:
            nginx:
              - path: /var/cache/nginx
