---
connectivity:
  checker:
    target: 1.1.1.1:53
    interval: 1m

endpoints:
  - name: Cloudflare
    group: connectivity
    url: icmp://1.1.1.1
    interval: 1m
    conditions:
      - "[CONNECTED] == true"

  - name: Google
    group: connectivity
    url: icmp://8.8.8.8
    interval: 1m
    conditions:
      - "[CONNECTED] == true"

metrics: true

storage:
  type: sqlite
  path: ${GATUS_CONFIG_PATH}/gatus.db
  caching: true

ui:
  title: Status | Gatus
  header: Status
  logo: https://avatars.githubusercontent.com/u/1470571
  link: https://github.com/carldanley
  buttons:
    - name: Github
      link: https://github.com/carldanley
    - name: Homelab
      link: https://github.com/carldanley/homelab

web:
  port: ${GATUS_WEB_PORT}
