{% set opSecretPath = "op://homelab kubernetes/talos" %}
---
machine:
  install:
    image: factory.talos.dev/metal-installer/{{ ENV.TALOS_SCHEMATIC_AMD }}:{{ ENV.TALOS_VERSION }}
    diskSelector:
      serial: 25054DF4C1C5
  network:
    hostname: cp02.k8s.batcave
    interfaces:
      - interface: bond0
        bond:
          deviceSelectors:
            - hardwareAddr: "58:47:ca:7f:c8:ba"
              driver: i40e
            - hardwareAddr: "58:47:ca:7f:c8:bb"
              driver: i40e
          mode: 802.3ad
          xmitHashPolicy: layer3+4
          lacpRate: fast
          miimon: 1000
        dhcp: true
        mtu: 1500
        vip:
          ip: 10.40.1.250
        vlans:
          - vlanId: 20
            dhcp: false
            mtu: 1500
          - vlanId: 50
            dhcp: false
            mtu: 1500
  nodeLabels:
    gpu.homelab/amd: "true"
---
apiVersion: v1alpha1
kind: UserVolumeConfig
name: local-hostpath
provisioning:
  diskSelector:
    match: disk.serial == "S7KHNJ0Y200344M" && !system_disk
  minSize: 2.0TB
