{% set opSecretPath = "op://homelab kubernetes/talos" %}
---
machine:
  install:
    diskSelector:
      serial: 25154F5F9E66
  network:
    hostname: cp03.k8s.batcave
    interfaces:
      - interface: bond0
        bond:
          deviceSelectors:
            - hardwareAddr: "58:47:ca:7f:c6:4a"
              driver: i40e
            - hardwareAddr: "58:47:ca:7f:c6:4b"
              driver: i40e
          mode: 802.3ad
          xmitHashPolicy: layer3+4
          lacpRate: fast
          miimon: 1000
        dhcp: true
        mtu: 1500
        vip:
          ip: 10.40.1.250
        vlans:
          - vlanId: 20
            dhcp: false
            mtu: 1500
          - vlanId: 50
            dhcp: false
            mtu: 1500
---
apiVersion: v1alpha1
kind: UserVolumeConfig
name: local-hostpath
provisioning:
  diskSelector:
    match: disk.serial == "S7KHNJ0Y200348B" && !system_disk
  minSize: 2.0TB
