{% set ghcrSecretPath = "op://homelab kubernetes/talos-private-packages" %}
{% set woodpeckerSecretPath = "op://homelab kubernetes/woodpecker" %}
---
apiVersion: v1alpha1
kind: RegistryAuthConfig
name: ghcr.io
username: {{ ghcrSecretPath }}/username
password: {{ ghcrSecretPath }}/ghcr-token
---
apiVersion: v1alpha1
kind: RegistryAuthConfig
name: {{ woodpeckerSecretPath }}/WOODPECKER_REGISTRY
username: {{ woodpeckerSecretPath }}/WOODPECKER_REGISTRY_USERNAME
password: {{ woodpeckerSecretPath }}/WOODPECKER_REGISTRY_TOKEN
