---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: echo-server
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      echo-server:
        replicas: 2
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: ghcr.io/mendhak/http-https-echo
              tag: 39@sha256:59e97f8417530cd88c2a4bb7b488153276e88df8a317a86641c575138ad81829
            env:
              PORT: &port 8080
              LOG_WITHOUT_NEWLINE: true
              LOG_IGNORE_PATH: &path /healthz
              PROMETHEUS_ENABLED: true
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: *path
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 64Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL

    defaultPodOptions:
      hostUsers: false
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568

    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            url: https://{{ .Release.Name }}.${DOMAIN_5}/healthz
        hostnames:
          - "{{ .Release.Name }}.${DOMAIN_5}"
          - "{{ .Release.Name }}.${DOMAIN_2}"
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: domain-5-subdomain-https
          - name: external
            namespace: kube-system
            sectionName: domain-2-subdomain-https
        rules:
          - backendRefs:
              - name: "{{ .Release.Name }}"
                port: *port

    service:
      app:
        ports:
          http:
            port: *port
